<div class="container">
    <div class="row justify-content-center animated bounceInUp">
        <h1>~~Welcome to WeedBot!~~</h1>
    </div>
    <div class="row justify-content-center animated bounceInUp delay-1s">
        <h2>What do you want to do today?</h2>
    </div>
    <div class="row justify-content-center buttons animated rollIn delay-2s">
        <div class="col-md-3">
            <button onclick="window.location.replace('/bot');" name="invite" type="submit">Invite WeedBot!</button>
        </div>
        <div class="col-md-3">
            <button onclick="window.location.replace('/submit');" name="submit" type="submit">Submit textlines!</button>
        </div>
    </div>
</div>